<link rel="stylesheet" href="css/style.css">

<div class="addAuthor">
<div class="container-fluid">
	<div ng-if="statusCode == 200">
		<div class="alert alert-success">
			<p><strong>Kész!</strong> Szerző hozzáadva.</p>
		</div>
	</div>
	<div ng-if="statusCode == 403">
		<div class="alert alert-warning">
			<p><strong>Nincs jogosultságod új szerzőt megadni!</strong></p>
		</div>
	</div>
	<div ng-if="statusCode == 409">
		<div class="alert alert-warning">
			<p><strong>Már létezik ilyen nevű szerző!</strong></p>
		</div>
	</div>
	<div ng-if="statusCode >= 500">
		<div class="alert alert-danger">
			<p><strong>Error {{ statusCode }}!</strong> Server Error</p>
		</div>
	</div>
	<form ng-submit="addAuthor()">
		<div class="form-group">
			<label>Név:</label>
			<input type="text" class="form-control" ng-model="author.name" placeholder="Adja meg a szerző nevét." required />
		</div>
		<button type="submit" class="btn btn-default">Új szerző hozzáadása</button>
	</form>
	<p></p>
	<img src="/img/book2.jpg" alt="Book2" width="600" height="300">
	<p></p>

</div>
</div>